
.video-container {
  display: flex;
  align-items: center;
}

h3, h2, h5 {
  font-family: 'Roboto';
}

.nav-button {
  font-size: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  cursor: pointer;
}
