

<a class="back" href="javascript:void(0)"
[routerLink]="['../..']">Back To Course</a>

@if ((lesson$ | async); as lesson) {
  <div class="lesson-detail">
    <h3>{{lesson.description}}</h3>
    <h5>Duration: {{lesson.duration}}</h5>
    <div class="video-container">
      @if (!lesson.first) {
        <mat-icon class="nav-button" (click)="previous(lesson)">
          navigate_before
        </mat-icon>
      }
      <iframe width="400" height="220"  frameborder="0" allowfullscreen
        [src]="('https://www.youtube.com/embed/' + lesson.videoId) | safeUrl">
      </iframe>
      @if (!lesson.last) {
        <mat-icon class="nav-button" (click)="next(lesson)">
          navigate_next
        </mat-icon>
      }
    </div>
  </div>
}
