
>>> body {
    margin: 0;
}

main {
    margin: 30px;
}

.user-avatar {
  max-height: 35px;
  border-radius: 4px;

}

.toolbar-tools {
  display: flex;
}


.filler {
  flex: 1 1 auto;
  width: 100%;
}

.menu-item {
  text-transform: uppercase;
  cursor:pointer;
}

.menu-item.menu-item-active {
  text-decoration: underline;
}


.profile-picture {
  max-height: 40px;
}
