<mat-sidenav-container fullscreen>

  <mat-toolbar color="primary">

    <div class="toolbar-tools">

      <a class="menu-item" mat-button routerLink="/courses"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{exact:true}">
        <span>Courses</span>
      </a>

      <a class="menu-item" mat-button routerLink="/about"
        routerLinkActive="menu-item-active">
        <span>About</span>
      </a>

      @if (auth.isLoggedOut$ | async) {
        <a mat-button class="menu-item"
          routerLink="/login"
          routerLinkActive="menu-item-active">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </a>
      }

    </div>

    @if (auth.isLoggedIn$ | async) {
      <a mat-button class="menu-item"
        [routerLink]="[{outlets: {chat: ['helpdesk-chat']}}]">
        <mat-icon>help</mat-icon>
      </a>
    }

    @if (auth.isLoggedIn$ | async) {
      <a mat-button class="menu-item" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    }


    <div class="filler"></div>

    @if ((auth.user$ | async); as user) {
      <img class="profile-picture" [src]="user.pictureUrl">
    }



  </mat-toolbar>

  <messages></messages>

  <loading [detectRoutingOngoing]="true"></loading>

  <router-outlet></router-outlet>

</mat-sidenav-container>

<router-outlet name="chat"></router-outlet>








